body{
    background-color: aliceblue;
}
#header{
    
}
#header nav ul{
float: right;
list-style-type: none;

}
#header-img{
    width: 20vw;
    padding-top: 2S0px;
}
#header nav ul li{
    float: right;
    padding: 25px;
}
#header nav ul li a{
    color: black;
    text-decoration: none;
    font-size: 20px;
}
#form-container,form{
    width: 35vw;
    margin:0 auto;
    padding: 25px;
}
#form h2{
    font-weight: lighter;
    font-family: sans-serif;
}
#submit{
    width: 180px;
    background-color: orange;
    height: 30px;
    border-radius: 5px;
    margin-left: 120px;
    margin-top: 10px;

}
#form input{
    padding: 9px;
    width: 20vw;
    margin-left: 60px;
    
}

embed{
    padding: 5px;
    width: 50vw;
    height: 52vh;
    margin-left: 25vw;
}
#section{
    width: 50vw;
    padding: 7px;
    margin-left: 25vw;
    
}
#section h2{
    font-family: sans-serif;
}
#pricing{
    padding-top: 3px;
    width: 100vw;
    display: flex;
    flex: wrap;
    
    
}
#pricing div{
    border: 1px solid black;
    width: 30vw;
    margin-right: 5vw;
    height: 40vh;
    

}
#a{
    margin-left: 2.5vw;
}
#section p{
    font-family: sans-serif;
}
#mob{
    display: none;
}

@media only screen and (max-width:700px){
   #mob{
       display: block;
   }
   #mob nav ul{
       display: block;
       list-style: none;
       width: 100vw;
   }
   #mob nav ul li{
       padding: 10px;
       text-align: center;
   }
   #mob nav ul li a{
     
      text-decoration: none;
      color: #000;
   }
   #header{
       display: none;
   }
  
}